
.App {
  /* font-family: 'Major Mono Display', monospace; */
  font-family: 'Fira Code', monospace;
  overflow-x: hidden;
  text-align: left;
}

.underline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  position: relative;
  padding: 8px;
  transition: 0.2s;
}

.text::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ddd;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.text:hover::after {
  width: 100%;
  left: 0;
}